{%extends 'index.html'%}
{% load static %}
<!-- <html>
<head>
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/icofont.min.css'%}" rel="stylesheet">
    
    <style>
    </style>
</head> -->
{% block content %}
<div class="container-fluid" >
    <div class="row" style="margin-top:auto">
        <div class="col-md-4"></div>
        <div class="col-md-4  p-5 border rounded shadow">
            <h3 class="text-center mb-4">Creating a new Password</h3>
                            <div class="b mb-4" style="border-color: #2b2b2b ;border-width: 2px;border-bottom-style: solid"></div>

            <form >
                <font color="red">*</font>
                <label id="old">Old Password</label>
                <input type="password" required class="form-control mb-3 i" id="old" name="old">
                
                <font color="red">*</font>
                <label for="new">Enter New Password</label>
            
                <input type="password" required class="form-control mb-3 i" id="new" name="new">
                <font color="red">*</font>
                <label for="cpwd">Confirm Password</label>
                <input type="password" required class="form-control mb-3 i" id="cpwd" name="conpwd">
                <center><input type="submit" class="btn" value="SUBMIT" style="background-color: #00a040;color: white"></center>
            
                {% if res == '1' %}
             <div style="color:green;" class="text-center">Password Updated</div>
            {% elif res == '2' %}
            <div style="color:red;" class="text-center">Your Old Password Didn't Matched!!</div>
            {% elif res == '3' %}
            <div style="color:red;" class="text-center">New and Confirm Password didn't Matched!!</div>
            {% endif %}

            </form>
        
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}