{%extends 'index1.html'%}
{% load static %}

{% block content %}
<div class="container-fluid" >
    <div class="row" style="margin-top:auto">
        <div class="col-md-3"></div>
        <div class="col-md-6  p-5 border shadow" style="border-radius: 24px;">
            <h3 class="text-center mb-4">Creating a new Password</h3>
                            <div class="b mb-4" style="border-color: #2b2b2b ;border-width: 2px;border-bottom-style: solid"></div>

                            <form action="" id="form1" method='POST' enctype="multipart/form-data">
                                {% csrf_token %} 
                <font color="red">*</font>
                <label id="old">Old Password</label>
                <input type="password" required class="form-control mb-3 i" id="old" name="old">
                
                <font color="red">*</font>
                <label for="new">Enter New Password</label>
            
                <input type="password" required class="form-control mb-3 i" id="new" name="new">
                <font color="red">*</font>
                <label for="cpwd">Confirm Password</label>
                <input type="password" required class="form-control mb-3 i" id="cpwd" name="conpwd">
                <center><input type="submit" class="btn btn-dark" value="SUBMIT"></center>
            
            {% if res == '1' %}
             <div style="color:green;" class="text-center">Password Updated</div>
            {% elif res == '2' %}
            <div style="color:red;" class="text-center">Your Old Password Didn't Matched!!</div>
            {% elif res == '3' %}
            <div style="color:red;" class="text-center">New and Confirm Password didn't Matched!!</div>
            {% endif %}

            </form>
        
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}