{% extends 'index1.html'%}
{% load static%}
{% block content %}
<div class="row mt-4">
    <div class="col-md-1"></div>
    <div class="col-md-3 card ms-5">
        <div class="row mt-3">
            <div class="col-md-12">
                <center>PMJDY</center>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="{%static 'images/pmjdy.png'%}" height="100px" width="100px">
            </div>
            <div class="col-md-8">
                <label class="mb-4">38.33 Crore</label>
                <br>
                <label>Number of Accounts</label>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-8">
                <i class="icofont-calendar"></i><span> From 28-Aug-14 To 31-Jul-20</span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <a href="">More&nbsp;<i class="icofont-circled-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 card ms-5">
        <div class="row mt-3">
            <div class="col-md-12">
                <center>PMJJBY</center>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="{%static 'images/pmjjby.jpg'%}" height="100px" width="100px">
            </div>
            <div class="col-md-8">
                <label class="mb-4">10.32 Crore</label>
                <br>
                <label>Gross Enrollments</label>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-8">
                <i class="icofont-calendar"></i><span>From 09-May-15 To 30-Apr-21</span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <a href="">More&nbsp;<i class="icofont-circled-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 card ms-5">
        <div class="row mt-3">
            <div class="col-md-12">
                <center>PMSBY</center>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="{%static 'images/pmsby.jpeg'%}" height="100px" width="100px">
            </div>
            <div class="col-md-8">
                <label class="mb-4">23.36 Crore</label>
                <br>
                <label>Gross Enrollments</label>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-8">
                <i class="icofont-calendar"></i><span>From 09-May-15 To 30-Apr-21</span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <a href="">More&nbsp;<i class="icofont-circled-right"></i></a>
            </div>
        </div>
    </div>
    
</div>

{%endblock%}