{%extends 'index1.html'%}
{% load static%}
{% block content %}
<title>editprofile</title>
    <style>
        
        .im
        {
          border-radius: 50%;
        }
        .ep{font-family: 'Reggae One'!important}
        .fs{font-size: 15px;margin-left: 5px;}
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mt-4 p-5 border  shadow" style="border-radius: 24px;">
            <h3 class="text-center ep"  >Edit Profile</h3>
            <h5 class="text-center mb-4">Please provide some information about yourself.</h5>
            <form class="row" method='POST'>
              {% csrf_token %}
                <div class="col-md-6 mb-3">
                <label for="f" class="fs">First Name</label>
                    <input type="text" name="fn" class="form-control" id="f" value="{{user.fname}}">
                </div>

                <div class="col-md-6 mb-3">
                <label for="l" class="fs">Last Name</label>
                    <input type="text" name="ln" class="form-control" id="l" value="{{user.lname}}">
                </div>

                <div class="col-md-6 mb-3">
                <label for="c" class="fs">Contact Number</label>
                    <input type="tel" name="cn" class="form-control" id="c" value="{{user.phone}}">
                </div>

                <div class="col-md-6 mb-3">
                <label for="d" class="fs">D.O.B</label>
                    <input type="date" name="dob" class="form-control" id="d" value="{{dob}}">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="g" class="mb-2 fs">Gender</label><br/>
                    {% if user.gender == 'M'%}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="gender" class="form-check-input mr-5" id="g" value="Male" checked>  MALE
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="gender" class="form-check-input ms-5" id="g" value="Female">  FEMALE
                    {% elif user.gender == 'F' %}
                    <input type="radio" name="gender" class="form-check-input mr-5" id="g" value="Male" >  MALE
                    <input type="radio" name="gender" class="form-check-input ms-5" id="g" value="Female" checked>  FEMALE
                    {% endif %}
                </div>

                <div class="col-md-6 mb-3"></div>

                <div class="col-md-6 mb-3">
                <label for="ci" class="fs">State</label>
                    <input type="text" name="state" class="form-control" id="st" value="{{user.state}}">
                </div>

                <div class="col-md-6 mb-3">
                  <label for="ci" class="fs">City</label>
                      <input type="text" name="city" class="form-control" id="ci" value="{{user.city}}">
                </div>

                <div class="col-md-12 mb-3">
                <label for="add" class="fs">Address</label>
                    <textarea type="date" name="address" class="form-control mb-4" id="add" rows="5">{{user.address}}</textarea>
                    <center><input type="submit" name="save1" class="btn btn-dark" value="SUBMIT"></center>
                </div>
                
                
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
    {% endblock %}






