
{%extends 'index1.html'%}
{% load static%}
{% block content %}
    <title>help</title>
    <main>
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mb-5 p-5 border shadow" style="border-radius: 24px;">
              <h3 class="text-center mb-4">Help & support</h3>
              <form>
                <label for="sub">Enter Subject</label>
                <input type="text" class="form-control mb-3" id="sub" name="subject">
                <label for="msg">Enter Message</label>
                <textarea rows="5" class="form-control mb-3" id="msg" name="message"></textarea>
                <center><input type="submit" class="btn btn-dark" value="send"></center>
              </form>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>  
      {% endblock %}
    