{%extends 'index1.html'%}
{% load static%}
{% block content %}

<title>view profile</title>
  <style>
    .ww{font-family: 'Reggae One'!important}
    .w{font-family:'Train One';color: black!important;font-size: 25px;margin-top: -15px;}
    .ic{font-size: 30px;}

    .imm
    {
        border-radius:50%;
        height:250px;
        width: 250px;
        border:5px solid;
        border-color:white;
    }
    .l{padding-left: 9px;padding-right: 9px;border-radius:50%;font-size:30px;background: rgba(0,0,0,0.5)}
    .side{overflow: hidden;}
  </style>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
          <form action="" id="form1" method='POST' enctype="multipart/form-data">
            {% csrf_token %}  

            {% if user.profile_image %}
            <img src="{{user.profile_image.url}}" id="i" class=" imm mt-4">
            {% else %}
              <img src="{%static 'images/addimg.jpg'%}" id="i" class=" imm mt-4">
            {% endif %}
                <!-- <a href="{%static 'sidebar/01/images/person_profile.jpg'%}" for="i" target="_blank">click</a> -->
                <input type="file" id="file" name="img" class="form-check-input" hidden >
                <input type="submit" id="imgupload" hidden>
                <div style="margin-top: -55px;margin-left: 135px;">
                  <label for="file" id="selector" class="l" ><i class="fas  fa-camera text-light"></i></label>
          
                </div>
                </form>          
          </div>
    </div>
    <div class="row mt-4 border shadow" style="border-radius: 24px;">
      <div class="col-md-2 mt-3"></div>
      <div class="col-md-6 mt-3">
      <h1 class="ww mb-5">Account Info</h1>
          <div class="row">
              <div class="col-md-2 mb-5">
              <div>
                {% if user.gender == "M"%}
                <i class="fas fa-3x fa-male mt-2 mb-3 mr-3"></i>
                {% elif user.gender == "F"%}
                <i class="fas fa-3x fa-female mt-2 mb-3 mr-3 ">
                {% endif %}
              </div>
              <div><i class="fas fa-3x fa-mobile mt-5 mb-3 ms-1"></i></div>
              <div><i class="fas fa-3x fa-envelope mt-5 mb-3 "></i></div>
              <div><i class="fas fa-3x fa-map-marked-alt mb-3 mt-5"></i></div>
              <div><i class="fas fa-3x fa-birthday-cake mb-3 mt-5"></i></div>
              </div>
              <div class="col-md-8">
              <div class="ic"><b>NAME</b></div>
                  <label class="w">{{user.fname}} {{user.lname}}</label>
              <div style="margin-top: 5px" class="ic"><b>MOBILE</b></div>
                  <label class="w">{{user.phone}}</label>
              <div style="margin-top: 8px" class="ic"><b>EMAIL</b></div>
                  <label class="w">{{user.email}}</label>
              <div style="margin-top: 10px" class="ic"><b>ADDRESS</b></div>
                  <label class="w">{{user.address}}</label>
              <div style="margin-top:10px" class="ic"><b>D.O.B</b></div>
                  <label class="w">{{user.dob}}</label>
              </div>
          </div>
      </div>
              <div class="col-md-3 mt-3">
                 <h2><a  href="{%url 'ep'%}" class="ww " style="text-decoration: none"><i class="fas fa-pencil-alt mr-2"></i>Edit Profile</a></h2>
              </div>
          </div>
        </div>
        </div>
    </div>
          
    

  <script src='{% static "sidebar/01/js/jquery-3.3.1.min.js" %}'></script>
  <script>
    $('#file').change(function(){
      $('#imgupload').trigger('click');
    });
  </script>
  {% endblock %}





